body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;

}

body h2 {
    font-family: 'Roboto Slab', serif;
}

#logoText{
    font-family: 'Sigmar One', cursive;
    color: #302833;
}

#logoTextS{
    color:#CE5242;
}

#wrapper {
}

nav{
    
}

/* Nav Bar */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding-top: 1em;
  overflow: hidden;
  background-color: #22333B;
}

ul.topnav li {
    float: left;
    padding: 1em;
    font-weight: bold;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li :hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    margin-right: 2em;
    float: right;
}

a.signupBut{
    background-color: #C6AC8F;
    color: black;
    border-radius: 10px;
}

/* Landing page */
#ylback{
    position: absolute;
    right:0;
    width: 90%;
    height: 650px;
    background-color: #FFD369;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#arrow{
    position: absolute;
    right:80px;
    top:10px;
}

#landingLogo{
    position: absolute;
    left:300px;
    top:200px;
}
#landing h2{
    font-size: 28px;
    position: absolute;
    left: 350px;
    top: 300px;
}

#background2{
    position:absolute;
    right: 0px;
    bottom: 600px;
    opacity: 5%;
    /* bottom:0px;
    width: 700px;
    opacity:10%; */
   
}

#background3{
    position: absolute;
    left:0;
    top:-350px;
    height:200px;
    opacity: 5%;
}

.blinking {
    animation: blinkingText 1s infinite;
    /* font-family: futura;
    font-style: italic;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 45px;
    background-color: #fc030b; */
}

/* Specifies the animation and transparency for the blinking text */
@keyframes blinkingText {

    0% {
        opacity: 1;
    }

    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}



/* media query */
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}